# 这个文件用来指定，哪些文件或文件夹是不需要上传到github上面的
# git有一个暂存区的概念，只有添加到暂存区的文件才会被提交到版本库中
# 我们这里打算把代码文件上传到github上面，其他不需要上传的文件都到.gitignore文件中说明


# 忽略 Python 编译生成的文件
__pycache__/

# 忽略 虚拟环境 文件夹
myvenv/

# 忽略 日志文件
*.log